<aside class="Hui-admin-aside-wrapper">
    <div class="Hui-admin-logo-wrapper">
        <a class="logo navbar-logo" href="#">
            <img src="/static/logo.png" alt="opencart">
        </a>
    </div>
    <div class="Hui-admin-menu-dropdown bk_2">
        <dl id="dashboard" class="Hui-menu">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe625;</i>管理首页<i
                    class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li><a href="#">仪表盘</a></li>
                    <li>
                        <dl class="Hui-menu">
                            <dt class="Hui-menu-title">统计报表<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i>
                            </dt>
                            <dd class="Hui-menu-item">
                                <ul>
                                    <li><a href="#" title=""><i class="Hui-iconfont">&#xe6d7;</i>客户统计</a></li>
                                    <li><a href="#" title=""><i class="Hui-iconfont">&#xe6d7;</i>在线用户</a></li>
                                    <li><a href="#" title=""><i class="Hui-iconfont">&#xe6d7;</i>销售统计</a></li>
                                </ul>
                            </dd>
                        </dl>
                    </li>
                    <li><a href="#">在线客户分析</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-product" class="Hui-menu">
            <dt class="Hui-menu-title selected">
                <i class="Hui-iconfont">&#xe64b;</i> 商品目录<i
                    class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i>
            </dt>
            <dd class="Hui-menu-item" style="display: block;">
                <ul>
                    <li class="current"><a href="#" title="商品分类"><i class="Hui-iconfont">&#xe6d7;</i>商品分类</a></li>
                    <li>
                        <dl class="Hui-menu">
                            <dt class="Hui-menu-title">商品属性<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i>
                            </dt>
                            <dd class="Hui-menu-item">
                                <ul>
                                    <li><a href="#" title=""><i class="Hui-iconfont">&#xe6d7;</i>商品属性</a></li>
                                    <li><a href="#" title=""><i class="Hui-iconfont">&#xe6d7;</i>属性组</a></li>
                                </ul>
                            </dd>
                        </dl>
                    </li>
                    <li><a href="#" title="品牌管理"><i class="Hui-iconfont">&#xe6d7;</i>品牌管理</a></li>
                    <li><a onclick="article_add('添加资讯','article-add.html')" href="javascript:;" title="商品管理"><i
                            class="Hui-iconfont">&#xe6d7;</i>商品管理</a>
                    </li>
                    <li><a href="#" title="商品选项"><i class="Hui-iconfont">&#xe6d7;</i>商品选项</a></li>
                    <li><a href="#" title="商品选项"><i class="Hui-iconfont">&#xe6d7;</i>商品选项</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-article" class="Hui-menu">
            <dt class="Hui-menu-title selected">
                <i class="Hui-iconfont">&#xe64b;</i> 软文管理<i
                    class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i>
            </dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li><a href="#" title="软文分类"><i class="Hui-iconfont">&#xe6d7;</i>软文分类</a></li>
                    <li><a href="#" title="软文列表"><i class="Hui-iconfont">&#xe6d7;</i>软文列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl class="Hui-menu" id="menu-oder">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe60d;</i> 销售订单<i
                    class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li><a href="member-list.html" title="订单管理"><i class="Hui-iconfont">&#xe6d7;</i>订单管理</a></li>
                    <li><a href="member-del.html" title="售后管理"><i class="Hui-iconfont">&#xe6d7;</i>售后管理</a></li>
                </ul>
            </dd>
        </dl>
        <dl class="Hui-menu" id="menu-member">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe60d;</i> 会员管理<i
                    class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li><a href="member-list.html" title="会员列表">会员列表</a></li>
                    <li><a href="member-del.html" title="删除的会员">删除的会员</a></li>
                    <li><a href="member-record-browse.html" title="浏览记录">浏览记录</a></li>
                    <li><a href="member-record-download.html" title="下载记录">下载记录</a></li>
                    <li><a href="member-record-share.html" title="分享记录">分享记录</a></li>
                </ul>
            </dd>
        </dl>
        <dl class="Hui-menu" id="menu-admin">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i
                    class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li><a href="admin-role.html" title="角色管理">角色管理</a></li>
                    <li><a href="admin-permission.html" title="权限管理">权限管理</a></li>
                    <li><a href="admin-list.html" title="管理员列表">管理员列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl class="Hui-menu" id="menu-system">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i
                    class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li><a href="system-base.html" title="系统设置">分站设置</a></li>
                    <li><a href="system-category.html" title="栏目管理">后台用户</a></li>
                    <li>
                        <dl class="Hui-menu">
                            <dt class="Hui-menu-title">参数设置<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i>
                            </dt>
                            <dd class="Hui-menu-item">
                                <ul>
                                    <li><a href="#" title=""><i class="Hui-iconfont">&#xe6d7;</i>语言设置</a></li>
                                    <li><a href="#" title=""><i class="Hui-iconfont">&#xe6d7;</i>货币设置</a></li>
                                    <li><a href="#" title=""><i class="Hui-iconfont">&#xe6d7;</i>库存状态</a></li>
                                    <li><a href="#" title=""><i class="Hui-iconfont">&#xe6d7;</i>订单状态</a></li>
                                    <li><a href="#" title=""><i class="Hui-iconfont">&#xe6d7;</i>国家设置</a></li>
                                    <li><a href="#" title=""><i class="Hui-iconfont">&#xe6d7;</i>省份设置</a></li>
                                    <li><a href="#" title=""><i class="Hui-iconfont">&#xe6d7;</i>长度单位</a></li>
                                    <li><a href="#" title=""><i class="Hui-iconfont">&#xe6d7;</i>重量单位</a></li>
                                    <li><a href="#" title=""><i class="Hui-iconfont">&#xe6d7;</i>税率类别</a></li>
                                    <li><a href="#" title=""><i class="Hui-iconfont">&#xe6d7;</i>商品税率</a></li>
                                </ul>
                            </dd>
                        </dl>
                    </li>
                    <li><a href="system-shielding.html" title="屏蔽词">屏蔽词</a></li>
                    <li><a href="system-log.html" title="系统日志">系统日志</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>
<div class="Hui-admin-aside-mask"></div>
<div class="Hui-admin-dislpayArrow">
    <a href="javascript:void(0);" onClick="displaynavbar(this)">
        <i class="Hui-iconfont Hui-iconfont-left">&#xe6d4;</i>
        <i class="Hui-iconfont Hui-iconfont-right">&#xe6d7;</i>
    </a>
</div>
